.input {
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    color: var(--text-color);
    border: 1px solid #EEE;
    box-shadow: 15px 20px 45px 0 rgba(233, 233, 2333, 0.25);
    border-radius: 10px;
    padding: 20px;
}